<ion-menu side="start" menuId="side">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-row>
        <ion-title>Start Menu</ion-title>
        <ion-menu-toggle autoHide="false" menu="side"><ion-icon class="arrow" name="arrow-back"></ion-icon></ion-menu-toggle>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><ion-button size="small" expand="full" class="button" center fill="clear" color="tertiary" (click)="subscribed()">Subscribed Studies</ion-button></ion-item>
      <ion-item><ion-button size="small" expand="full" class="button" center fill="clear" color="tertiary" (click)="new()">New Studies</ion-button></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>


<ion-header>
  <ion-toolbar color="tertiary">
    <ion-row>
      <ion-button class="menu-button" color="tertiary" (click)="openFirst()" menu="side"><ion-icon class="icon" name="menu"></ion-icon></ion-button>
      <ion-title>New Studies</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item lines="none" class="bottom">
      <ion-searchbar (ionChange)="search()" [(ngModel)]="input" class="searchbar" autocomplete="on" placeholder="Search" type="text" animated></ion-searchbar>
      <ion-item (ionChange)="search()" lines="none">
        <ion-icon class="selectIcon" color="tertiary" name="arrow-dropdown-circle"></ion-icon>
        <ion-select multiple="true" class="select" [(ngModel)]="genreSelect" >
          <ion-label>Genres</ion-label>
        <ion-select-option *ngFor="let genre of genres; let i = index">{{genre}}</ion-select-option>
        </ion-select>
        </ion-item>
    </ion-item>
    <ion-item-sliding *ngFor="let studyTitle of studyTitles; let i = index">
      <ion-item>
          <ion-label>{{ studyTitle }}</ion-label>
          <ion-icon color="tertiary" name="arrow-dropleft"></ion-icon>
       </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="tertiary" (click)="add(i)">Subscribe</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
