.my-custom-menu {
  --width: 500px;
}
.icon {
   font-size: 30px;
   padding-left: 5px;
   padding-top: 3px;
}

.arrow {
   font-size: 30px;
   padding-right: 5px;
   padding-top: 3px;
}
.button{
  font-size: 13px;
}
.select{
  width: 10px;
}
.selectIcon{
  width : 30px;
}
.bottom{
  padding-bottom: 12px;
  margin-left: -30px;
  margin-right: -30px;
}
.refresh{
 size:3px;
}
.searchbar{

}
