<ion-menu side="start" menuId="side">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-row>
      <ion-title>Start Menu</ion-title>
      <ion-menu-toggle autoHide="false" menu="side"><ion-icon class="arrow" name="arrow-back"></ion-icon></ion-menu-toggle>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><ion-button size="small" expand="full" class="button" center fill="clear" color="tertiary" (click)="subscribed()">Subscribed Studies</ion-button></ion-item>
      <ion-item><ion-button size="small" expand="full" class="button" center fill="clear" color="tertiary" (click)="new()">New Studies</ion-button></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>


<ion-header>
  <ion-toolbar color="tertiary">
    <ion-row>
    <ion-button class="menu-button" color="tertiary" (click)="openFirst()" menu="side"><ion-icon class="icon" name="menu"></ion-icon></ion-button>
    <ion-title>Subscribed Studies</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-button class="clickHere" size="small" fill="outline" color="tertiary" (click)="new()" style="margin:auto"><b><p>Click here to access </p><p>NEW STUDIES</p></b></ion-button>
<ion-content padding>
  <div *ngIf="noStudy">
  <ion-list>
    <ion-item-sliding *ngFor="let studyTitle of studyTitles; let i = index">
      <ion-item>
        <ion-label (click)="study()">{{ studyTitle }}</ion-label>
        <div *ngIf="indicatorCheck[i]">
          <ion-icon name="time"></ion-icon>
        </div>
        <ion-icon color="tertiary" name="arrow-dropleft"></ion-icon>
        <ion-badge color="secondary">{{notification[i]}}</ion-badge>
       </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="tertiary" (click)="delete(i)">Unsubscribe</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  </div>
  <ion-card *ngIf="!noStudy" class="center" lines="none">
    <ion-card-content>
    <ion-list>
    <ion-label color="tertiary"><b>Suggested Studies</b></ion-label>
      <ion-item-sliding *ngFor="let studyTitleUn of studyTitleUns; let i = index;">
        <ion-item *ngIf="i<3">
            <ion-label>{{ studyTitleUn }}</ion-label>
            <ion-icon color="tertiary" name="arrow-dropleft"></ion-icon>
         </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="tertiary" (click)="add(i)">Subscribe</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
