.my-custom-menu {
  --width: 500px;
}
.icon {
   font-size: 30px;
   padding-left: 5px;
   padding-top: 3px;
}

.arrow {
   font-size: 30px;
   padding-right: 5px;
   padding-top: 3px;
}
.button{
  font-size: 13px;
}
.center-elements{
    width: 100%;
    position: absolute;
    top: 45%;
    margin:auto;
}
