.center-elements{
    width: 100%;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -50%;
}
.full-width{
  width: 100%;
}

.right-align{
    position: absolute;
    right: 5%;
}
.top-align{
    position: absolute;
    top: 28%;
}
.segment-button{
  font-size: 1.7rem;
  color:black;
}

.icon{
  color:black;
}
