.center-elements{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
.my-custom-menu {
  --width: 500px;
}
.icon {
   font-size: 30px;
   padding-left: 5px;
   padding-top: 3px;
}

.arrow {
   font-size: 30px;
   padding-right: 5px;
   padding-top: 3px;
}
.button{
  font-size: 13px;
}
.menu-button{
    --box-shadow:none;
 }
.question{
  font-size: 18px;
}

.center{
margin: auto;
}
