<ion-menu side="start" menuId="side">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-row>
      <ion-title>Start Menu</ion-title>
      <ion-menu-toggle autoHide="false" menu="side"><ion-icon class="arrow" name="arrow-back"></ion-icon></ion-menu-toggle>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><ion-button size="small" expand="full" class="button" center fill="clear" color="tertiary" (click)="subscribed()">Subscribed Studies</ion-button></ion-item>
      <ion-item><ion-button size="small" expand="full" class="button" center fill="clear" color="tertiary" (click)="new()">New Studies</ion-button></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-header>
  <ion-toolbar color="tertiary">
    <ion-row>
      <ion-button class="menu-button" color="tertiary" (click)="openFirst()" menu="side"><ion-icon class="icon" name="menu"></ion-icon></ion-button>
    <ion-title>{{studyTitle}}</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding scroll="false">
  <div class="center-elements">
  <ion-card>
      <ion-card-title >
        <ion-item  lines="none">
          <ion-label class="question">{{currentQ}}</ion-label>
        </ion-item>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-item  lines="none">
          <ion-icon color="tertiary" name="arrow-forward"></ion-icon><ion-label class="content">{{content}}</ion-label>
        </ion-item>
      </ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-content>

      <div *ngIf="text">
        <ion-item lines="none" class="card">
          <ion-textarea  placeholder="Type here..." wrap="hard" rows="10" cols="20" [(ngModel)]="answerQ"></ion-textarea>
        </ion-item>
      </div>

      <div *ngIf="scale">
        <ion-item lines="none" class="card">
            <ion-range color="tertiary" pin="true" min={{min}} max={{max}} snaps="true" [(ngModel)]="answerQ"></ion-range>
          </ion-item>
      </div>

      <div *ngIf="ask">
        <ion-radio-group class="radio">
          <ion-grid>
            <ion-row>
              <ion-item lines="none">
                <ion-item lines="none"><ion-label>{{trueValue}}</ion-label></ion-item>
                <ion-radio (ionSelect)="askFn(true)" center fill="outline" color="tertiary"></ion-radio>
              </ion-item>

              <ion-item lines="none">
                <ion-item lines="none"><ion-label>{{falseValue}}</ion-label></ion-item>
                <ion-radio (ionSelect)="askFn(false)" center fill="outline" color="tertiary"></ion-radio>
              </ion-item>
            </ion-row>
          </ion-grid>
        </ion-radio-group>
      </div>

      <div *ngIf="multi">
        <ion-list>
          <ion-item *ngFor="let option of options;  let j = index">
            <ion-label>{{option}}</ion-label>
            <ion-checkbox color="tertiary" slot="end" [(ngModel)]="answerQMulti[j]"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>

    </ion-card-content>
  </ion-card>
  <div class="spacer" style="width: 320px; height: 20px;"></div>

  <ion-item lines="none">
    <ion-button size="large" style="margin:auto" center fill="outline" color="tertiary" (click)="submit()">Submit</ion-button>
  </ion-item>
  </div>
</ion-content>
