<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  scroll="false">
  <div class="center-elements" color="tertiary" fill="outline">
    <ion-card >
      <ion-card-content>
        <form (ngSubmit)="signForm()">
          <ion-grid>
            <ion-row>
              <ion-col>
                 <ion-input readonly [(ngModel)]="user.username" placeholder="Username"></ion-input>
              </ion-col>
              <ion-col size="2.5">
                <ion-button  expand="full" color="tertiary"  fill="clear" (click)="generateUsername()"><ion-icon name="search"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input type="password" name="password" clear-on-edit=true maxlength=12 required [(ngModel)]="user.password" placeholder="Password"></ion-input>
               </ion-col>
               <ion-col size="2.5">
                 <ion-button  expand="full" color="tertiary" fill="clear" (click)="generateUsername()"><ion-icon name="checkmark"></ion-icon></ion-button>
               </ion-col>
            </ion-row>
          </ion-grid>
          <div>
            <ion-row>
              <ion-col text-center>
                <ion-button disabled=false size="small" center fill="outline" color="tertiary" (click)="post()">Confirm</ion-button>
              </ion-col>
            </ion-row>
        </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
